<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}
{% load animals_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>
</head>
<header>
    <div style="width: 1440px; height: 80px; background: #0d6efd; margin: auto; display: flex; align-items: center;">
        <div style="width: 80%; text-transform: uppercase; margin-left: 40px; color: white; font-size:x-large;">
            Aдминистративная панель &mdash; детальная информация о животном
        </div>
        <div style="width: 20%;display: flex; justify-content: flex-end; margin-right: 10px;">
            <a href="{% url 'admin_panel2' %}" class="btn btn-warning">На главную страницу</a>
        </div>
    </div>

</header>
<body style="margin: 0; padding: 0;">
<div style="margin: 30px auto; text-align: center; font-size:x-large; color: #0d6efd; border: solid; border-color: red;">
    {{form.name}} &#8195; Количество просмотров {{form.views}} &#8195; Дата создания карточки &#8195;
    {{form.datecreation}}
</div>

<div style="display: flex; justify-content: center;">
    <div id="dog_foto"
         style=" width: 35%; border: solid; border-color: red; margin: 10px; text-align: center;">
        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">
            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Фотографии животного</legend>
            <div style="margin: 10px; font-size:x-large; color: #0d6efd;">
                Основное фото
            </div>
            <img src={{form.image.url}} style="width: 70%; height: auto; border-radius: 5px; margin: 10px;"
                 alt="Foto_Dog">

            {% if carusel %}
            <div style="margin: 10px; font-size:x-large; color: #0d6efd;">
                Дополнительные фотографии
            </div>
            <div style="margin-top: 10px;">
                {% for cart in carusel %}
                <p>
                    <img src={{cart.image.url}} style="width: 30%; height: auto; border-radius: 5px;" alt="Foto_Dog">
                </p>
                {% endfor %}
            </div>
            {% else %}
            <div style="margin: 10px; font-size:x-large; color: #0d6efd;">
                Дополнительных фотографий нет
            </div>
            {% endif %}

            <div style="margin: 10px;">
               <a href="{% url 'foto_dog_update' form.pk %}" class="btn btn-primary">Изменить</a>
            </div>

        </fieldset>
    </div>


    <div id="dog_data" style=" width: 50%; border: solid; border-color: red; margin: 10px; ">
        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">
            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Основные данные</legend>
            <ul>
                <li>Порода &mdash; {{form.fenotip}}</li>
                <li>Пол &mdash; {{form.get_gender_display}}</li>
                <li>Характер &mdash; {{form.get_personality_display}}</li>
                <li>Возраст &mdash; {{form.dog_age}}</li>
                {% if form.color %}
                <li>Окрас &mdash; {{form.color}}</li>
                {% endif %}
                {% if form.features %}
                <li>Особенности &mdash; {{form.features}}</li>
                {% endif %}
            </ul>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 10px;">
                <a href="{% url 'dog_update' form.pk %}" class="btn btn-primary">Изменить</a>
            </div>
        </fieldset>

        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">
            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Состояние</legend>
            <ul>
                <li>Вес &mdash; {{form.health.weight}} кг</li>
                <li>Стерилизация &mdash; {{form.health.get_sterilization_display}}</li>
                <li>Вакцинация &mdash; {{form.health.dog_vaccination_str}}</li>
                <li>Прием глистогонного &mdash; {{form.health.dog_worms_str}}</li>
            </ul>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 10px;">
                <a href="{% url 'health_update' form.pk %}" class="btn btn-primary">Изменить</a>
            </div>
        </fieldset>
        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">
            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Заболевания</legend>
            <ul>
                <li>Количество записей &mdash; {{form.health.reverse_h.count}}</li>
                <li>Последняя запись дата &mdash; {{form.health.reverse_h.last.datecreation|date:'d m Y г'}}</li>
                <ul>
                    <li>Текущее состояние &mdash; {{form.health.reverse_h.last.get_health_display}}</li>
                    <li>Последняя запись дата &mdash; {{form.health.reverse_h.last.description}}</li>
                </ul>
            </ul>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 10px;">
                <a href="{% url 'disease_create' form.pk %}" class="btn btn-primary">Добавить</a>

            </div>
        </fieldset>
        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">
            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Адрес обнаружения животного
            </legend>
            <ul>
                <li>Количество записей &mdash; {{form.reverse_adfnd.count}}</li>
                <li>Последняя запись дата &mdash; {{form.reverse_adfnd.last.date_find|date:'d m Y г'}}</li>
                <ul>
                    <li>Город обнаружения &mdash; {{form.reverse_adfnd.last.sity}}</li>
                    {% if form.reverse_adfnd.last.street %}
                    <li>Улица обнаружения &mdash; {{form.reverse_adfnd.last.street}}</li>
                    {% endif %}
                    {% if form.reverse_adfnd.last.home %}
                    <li>Дом у которого обнаружили &mdash; {{form.reverse_adfnd.last.home}}</li>
                    {% endif %}
                    {% if form.reverse_adfnd.last.notes %}
                    <li>Дополнительная информация &mdash; {{form.reverse_adfnd.last.notes}}</li>
                    {% endif %}
                </ul>
            </ul>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 10px;">
                <a href="{% url 'adress_f_create' form.pk %}" class="btn btn-primary">Добавить</a>
            </div>
        </fieldset>
        <fieldset
                style="border: solid; border-color: #0d6efd; border-width: 3px; border-radius: 10px; margin-bottom: 20px;">

            <legend class="bg-primary text-white p-8" style="padding-left: 15px;">Адрес текущего нахождения
                животного
            </legend>
            <ul>
                <li>Количество записей &mdash; {{form.reverse_adrow.count}}</li>
                <li>Последняя запись дата &mdash; {{form.reverse_adrow.last.date_location|date:'d m Y г'}}</li>
                <ul>
                    <li>Город локации &mdash; {{form.reverse_adrow.last.sity}}</li>
                    {% if form.reverse_adrow.last.street %}
                    <li>Улица &mdash; {{form.reverse_adrow.last.street}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.home %}
                    <li>Номер дома &mdash; {{form.reverse_adrow.last.home}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.apartment %}
                    <li>Номер квартиры &mdash; {{form.reverse_adrow.last.apartment}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.surname %}
                    <li>Фамилия владельца &mdash; {{form.reverse_adrow.last.surname}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.name %}
                    <li>Имя владельца &mdash; {{form.reverse_adrow.last.name}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.patronymic %}
                    <li>Отчество владельца &mdash; {{form.reverse_adrow.last.patronymic}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.phone_number %}
                    <li>Телефон владельца &mdash; {{form.reverse_adrow.last.phone_number}}</li>
                    {% endif %}
                    {% if form.reverse_adrow.last.email %}
                    <li>E-mail владельца &mdash; {{form.reverse_adrow.last.email}}</li>
                    {% endif %}
                </ul>
            </ul>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 10px;">
                <a href="{% url 'adress_o_create' form.pk %}" class="btn btn-primary">Добавить</a>
            </div>
        </fieldset>
    </div>
</div>
</body>
</html>