<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div style="width: 1440px; height: 80px; background: #0d6efd; margin: auto; display: flex; align-items: center;">
        <div style="width: 80%; text-transform: uppercase; margin-left: 40px; color: white;
                    font-size:x-large; border: solid; border-color: red; margin: auto; text-align: center;">
            Aдминистративная панель &mdash; изменение текущего состояния животного
        </div>
    </div>

</header>

<body>

<div style="display: flex; justify-content: center; ">
    <div style="width: 30%; margin-top: 5%">
        <form method="post" class="contact_form" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form|crispy }} <!-- Теперь нам нужна только готовая форма и кнопка -->

            <input type="submit" class="btn btn-primary" value="Изменить">

        </form>
    </div>
</div>
</body>
</html>